.obsidian
SOyR/practica_3/hilos/*.o
*.log
*.fls
*.fdb_latexmk
*.aux
*.synctex.gz
Control 3/TPA/Project Backups/TA2_orden6 \[Autosaved].pdsprj
Control 3/TPA/TA2_orden6.pdsprj.DESKTOP-DMTP7KS.tomii.workspace
