.obsidian
SOyR/practica_3/hilos/*.o
*.log
*.fls
*.fdb_latexmk
*.aux
*.synctex.gz
Control 3/TPA/Project Backups/TA2_orden6 \[Autosaved].pdsprj
Control 3/TPA/TA2_orden6.pdsprj.DESKTOP-DMTP7KS.tomii.workspace
Control de Sistemas Biologicos/Informes/Images_tp1/D0_crecimiento_completo.png
Control de Sistemas Biologicos/Informes/Images_tp1/D0_mus.png
Control de Sistemas Biologicos/Informes/Images_tp1/D0_plano_fase_plastic.png
Control de Sistemas Biologicos/Informes/Images_tp1/D0_plano_fase.png
Control de Sistemas Biologicos/Informes/Images_tp1/D0_prod_completa_min_biomass.png
Control de Sistemas Biologicos/Informes/Images_tp1/D0_prod_completa.png
Control de Sistemas Biologicos/Informes/Images_tp1/D1_growth_complete.png
Control de Sistemas Biologicos/Informes/Images_tp1/D1_plano_fase.png
Control de Sistemas Biologicos/Informes/Images_tp1/D2_Ds.png
Control de Sistemas Biologicos/Informes/Images_tp1/D2_mur_%d.png
Control de Sistemas Biologicos/Informes/Images_tp1/D2_plano_fase_%d.png
Control de Sistemas Biologicos/TP1/slprj/_sfprj/TP1EJ3_2/amsi_serial.mat
Control de Sistemas Biologicos/TP1/slprj/_sfprj/TP1EJ3/amsi_serial.mat
Embebidos/codigos/.project
Embebidos/codigos/practica1_ej7/.settings/language.settings.xml
Embebidos/codigos/practica1_ej7/.settings/stm32cubeide.project.prefs
Embebidos/codigos/practica1_ej7/Core/.project
Embebidos/codigos/practica1_ej7/.settings/language.settings.xml
Embebidos/codigos/practica1_ej7/.settings/stm32cubeide.project.prefs
